/* screen - diary */

.border-class-1 {
  border-color:rgba(255,255,255,0);
  border-style:solid;
  border-width:1px;
}
.border-class-2 {
  border-color:var(--salmon);
  border-style:solid;
  border-width:1px;
}
.border-class-3 {
  border-color:var(--pastel-pink);
  border-style:solid;
  border-width:1px;
}
.diary {
  background-color:rgba(255,189,182,1.0);
  height:100vh;
  margin:0px;
  min-height:2534px;
  min-width:1920px;
  overflow:hidden;
  position:relative;
  width:100%;
}
.diary .diary-1-C61RwL {
  background-color:rgba(255,255,255,0);
  height:2099px;
  left:160px;
  position:absolute;
  top:217px;
  width:1599px;
}
.diary .rectangle-20-C61RwL {
  background-color:var(--black);
  height:66px;
  left:42px;
  opacity:0.2;
  position:fixed;
  top:30px;
  width:135px;
}
.diary .x-back-C61RwL {
  background-color:rgba(255,255,255,0);
  cursor:pointer;
  font-size:24.0px;
  height:auto;
  left:70px;
  position:fixed;
  text-align:left;
  text-decoration:underline;
  top:46px;
  width:auto;
}
.font-class-1 {
  color:var(--white);
  font-family:'Times', Helvetica, Arial, serif;
  font-style:normal;
  font-weight:400;
}
:root {
  --black:rgba(0,0,0,1.0);
  --pastel-pink:rgba(255,205,212,1.0);
  --piggy-pink:rgba(255,226,230,1.0);
  --salmon:rgba(255,153,168,1.0);
  --white:rgba(255,255,255,1.0);
}
